@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;600;700&family=Poppins:ital,wght@0,200;0,500;0,600;0,700;0,800;1,100;1,200;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}  
.max-width{
    max-width: 130px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    background: blueviolet;
    padding: 15px;
    background-color:burlywood;
    font-family:'Courier New', Courier, monospace;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
}
.navbar .menu li{
    list-style: none;
    display: flex;
}
.navbar .menu li a{
    color:deeppink;
    font-size: 35px;
    font-weight: 300;
    margin-left: 25px;
}
.menu{
    display: flex;
}
.home{
    display: flex;
    background: url(/images/julietheadshot.jpg) no-repeat right;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Courier New', Courier, monospace;
}